:root {
  --fontBase: 'Roboto', sans-serif;
  --fontAccent: 'Bebas Neue', sans-serif;
  --accent: #ffd479;
}

body {
  font-family: var(--fontBase);
  background-color: #1f2a32;
  color: #fafaf5;
  font-weight: 300;
}

a {
  color: #fafaf5;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
}